<main>
    <h1>Car Form</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <label>Brand
            <select formControlName="brandId">
                @for (brand of brands(); track brand.id) {
                    <option [value]="brand.id">{{brand.name}}</option>
                }
            </select>
        </label>

        <label>Model
            <select formControlName="modelId" [disabled]="currentBrand() == null">
                @for (model of currentBrand()?.models; track model.id) {
                    <option [value]="model.id">{{model.name}}</option>
                }
            </select>
        </label>

        <label>Registration Date
            <input type="date">
        </label>

        <label>Mileage
            <input type="number">
        </label>

        <label>Currency
            <select name="currency" id="currency">
                @for (currency of currencies; track $index) {
                    <option>{{currency}}</option>
                }
            </select>
        </label>

        <label>Price
            <input type="number">
        </label>

        <label>Manufacture Year
            <input type="number">
        </label>

        <label>Availability
            <input type="checkbox">
        </label>

        <label>Color
            <input type="text">
        </label>

        <label>Description
            <textarea name="description" id="description"></textarea>
        </label>

        <label>License Plate
            <input type="text">
        </label>

        <button type="submit" [disabled]="form.invalid">Submit</button>

    </form>
</main>