<p>3. Dentro del `HomeComponent`, crear un componente `CrudTableComponent` con la siguiente estructura:

    > (Opcional) Breadcrumb en la parte superior para manejar la navegación (ver práctica 6).
 
    - **Botón en la parte superior** dirige a la vista de Creación.
    - **Campo ID**. Tendrá un link que redirige a la vista de detalle.
    - **Campo Marca**
    - **Campo Modelo**
    - **Campo Total**
    - **Campo Acciones**:
    
    dos acciones:
      > Editar: Abre una vista con un formulario.
      > Eliminar: Muestra una ventana modal de confirmación.
 
      - (Opcional) Utilizar un menu contextual para mostrar las opciones o dos botones.
        Tienes la opción de utilizar el [Menu](https://material.angular.io/cdk/menu/examples) del cdk de Angular o crear tu propio componente.</p>
